

.drawer {
  -fx-background-color : transparent;
}
.drawer-menu{
    -fx-background-color : transparent;
}
.drawer-menu.title{
    -fx-background-color : transparent;
}
.drawer .box-search
{
    -fx-background-repeat : no-repeat;
    -fx-background-position : right;
    -fx-border-width : 1px 0px 1px 0px;
    -fx-min-height : 38px;
    -fx-border-color : #E6E9ED;
}

    .drawer .box-search .text-field
{
    -fx-text-fill : white;
}

.drawer-item
{

    -fx-text-fill: white;
  -fx-background-radius : 0px;
  -fx-background-color : transparent;
  -fx-min-height : 50px;
}
.drawer-item.icon{
    -fx-fill: white;
}
.drawer-item
{
    -fx-alignment : baseline_left;
}


.drawer .scroll .drawer-content .drawer-item  .text,
.drawer .scroll .drawer-content .drawer-menu  .text,
.drawer .scroll .drawer-content .drawer-menu .drawer-item:focused .text
{
    -fx-background-color: white;

    -fx-opacity: 0.5;
}
.drawer-menu:hover{
    -fx-background-color: white;

    -fx-opacity: 0.5;
}
.drawer .scroll .drawer-content .drawer-item  .glyph-icon,
.drawer .scroll .drawer-content .drawer-item  .icon
{
    -fx-background-color: white;

    -fx-opacity: 0.5;
}

.drawer .scroll .drawer-content .drawer-menu .content
{
  -fx-border-insets : 0px;
  -fx-border-color : #E6E9ED;
}
.drawer-item:hover{
    -fx-background-color: white;
    -fx-opacity: 0.5;
}
.drawer .scroll .drawer-content .drawer-item:focused,
.drawer .scroll .drawer-content .drawer-item:focused .icon,
.drawer .scroll .drawer-content .drawer-item:focused .text,
.drawer .scroll .drawer-content .drawer-menu:focused .title,
.drawer .scroll .drawer-content .drawer-menu:focused .title .text,
.drawer .scroll .drawer-content .drawer-menu:focused .title .icon

{
  -fx-background-color : #E6E9ED;
  -fx-fill : #E55C5C;
}

.drawer .scroll .drawer-content .drawer-menu:focused .title .arrow
{
    -fx-background-color : transparent;

}

.drawer .scroll .drawer-content .drawer-menu .drawer-item:focused
{
  -fx-border-color : #E6E9ED;
  -fx-border-width : 0 0 1 0;
  -fx-background-color : transparent;
}

.radio-drawer {
  -fx-cursor : hand;
}

.radio-drawer:selected .radio
{
  -fx-scale-x : 1.2;
  -fx-scale-y : 1.2;

}

.radio-success .radio,
.radio-success .radio:hover,
.radio-success .radio:focused,
.radio-success:selected .radio
{
  -fx-border-color : #E6E9ED;
}

.radio-warning .radio,
.radio-warning .radio:hover,
.radio-warning .radio:focused,
.radio-warning:selected .radio
{
  -fx-border-color : #FF8800;
}

.radio-danger .radio,
.radio-danger .radio:hover,
.radio-danger .radio:focused,
.radio-danger:selected .radio
{
  -fx-border-color : #FF3547;
}


.Pagelist{
    /*If you can't enter mainpage, please delete the following line.*/
    -fx-background-image: url(../imagesrc/pagelist.jpg);
    -fx-background-size: cover;
}
.btn-transparent:focused,
.btn-transparent, .btn-transparent:pressed, .btn-transparent:hover
{
    -fx-background-color : transparent;
}

.pagebutton{
    -fx-background-color: transparent;
}
.pagebutton:hover{
    -fx-background-color: #656D78;
}
.titlepane{
    -fx-fill: transparent;
    -fx-background-color: transparent;
}
.titlepane .title{
    -fx-background-color: white;
    -fx-opacity: 0.6;
    /*-fx-background-color: transparent;*/
    -fx-text-fill: white;
    -fx-fill: white;
}
.titlepane .text{
    -fx-text-fill: #656D78;
}
.titlepane .icon{
    -fx-text-fill: #656D78;
    -fx-fill: #656D78;
}
.titleVbox{
    -fx-background-color: transparent;
}
#seeMoreButton{
    -fx-border-color: #E55C5C;
    -fx-font-size: 15px;
    -fx-text-fill: #E55C5C;
    -fx-background-color: transparent;
    -fx-border-radius: 10;

}
#seeMoreButton:hover{
    -fx-background-color: #E55C5C;
    -fx-text-fill: white;
}